spring_schema/src/main/resources/META-INF/people.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- 注意namespace url为http://blog.csdn.net/cutesource/schema/people
     attributeFormDefault="unqualified" 说明属性是非必须的
 -->

<xsd:schema xmlns="http://blog.csdn.net/cutesource/schema/people"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://blog.csdn.net/cutesource/schema/people"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans" />

    <!-- xml标签名称 -->
	<xsd:element name="people">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
				    <!-- 定义属性 -->
					<xsd:attribute name="name" type="xsd:string" />
					<xsd:attribute name="age" type="xsd:int" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>